#body {
    background-color: white;
    font-family: tahoma;
}

.swiper-slide {
    height: auto;
    width: auto;
}

#headings {
    display: flex;
    font-family: tahoma;
    justify-content: space-between;
    align-items: center;
}

#heading2 {
    margin-top: 1%
}
#heading3 {
    margin-top: 1%;
}

#container{
    display: inline-flex;
}

#mainBox{
    border: 3px solid black;
    float: left;
    width: 60%;
    height: 60%;
}

#sideBox {
    border: 3px solid black;
    float: left;
    margin-left: 3%;
    width: 35%;
    height: auto;
    border-radius: 10px;
}

.gameBox {
    display: inline-table;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 2%;
    border: 2px solid black;
    font-family: tahoma;
    font-size: medium;
    font-weight: bold;
    padding-left: 10px;
    height: 130px;
    width: 200px;
    border-radius: 10px;
} 

.gameBox h3 {
    margin-top: 5;
    margin-bottom: 5;
}
.gameBox p {
    margin-top: 2;
    margin-bottom: 2;
}


